<div class="center">
  <h1>
    Stratego
  </h1>
  <div class="playersBox" >
    <div class="playerData">
      <p>Gracz 1</p>
      <p>Punkty: {{points}}</p>
    </div>
    <div class="playerData">
      <p>Gracz 2</p>
      <p>Punkty: {{points}}</p>
    </div>
  </div>
  <mat-form-field>
    <input type="number" min="2" matInput placeholder="Rozmiar boku" [formControl]="sideSizeControl">
  </mat-form-field>
  <app-board [sideSize]="sideSize" (fieldClick)="onBoardFieldClick($event)"></app-board>
</div>
