.center {
  text-align: center;
}

.playersBox {

  .playerData {
    display: inline-block;
    margin: 0 2em;
  }

  mat-form-field {
    display: block;
  }

}

.field {
  height: 2em;
  width: 2em;
}

.filled {
  background-color: black;
}
