<div class="center">
  <h1>
    Stratego
  </h1>
  <div class="playersBox">
    <div *ngFor="let index of two" class="playerData">
      <p>Player {{index + 1}}</p>
      <p>Points: {{myGameState.points[index]}}</p>
      <mat-form-field>
        <mat-select placeholder="Mode" [(value)]="selectedModes[index]">
          <mat-option *ngFor="let mode of allModes" [value]="mode">{{mode}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="State heuristics" [(value)]="selectedStateHeuristics[index]">
          <mat-option *ngFor="let heuristics of allStateHeuristics" [value]="heuristics">{{heuristics}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="number" min="1" matInput placeholder="Depth" [(ngModel)]="depths[index]">
      </mat-form-field>
    </div>
  </div>
  <p>Turn of Player no. {{playerIndex + 1}} <button (click)="tryToMakeAutoMove()">Start</button></p>
  <mat-form-field>
    <input type="number" min="2" matInput placeholder="Side size" [formControl]="sideSizeControl">
  </mat-form-field>
  <div *ngFor="let row of myGameState.board, let rowIndex = index">
    <button *ngFor="let field of row, let columnIndex = index" [class.filled]="field" class="field"
            (click)="onBoardFieldClick(rowIndex, columnIndex)" [disabled]="field"></button>
  </div>
</div>
